<!DOCTYPE html>
<html>
  <head>
    <title>XEffect</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/9b351406e3.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <style>
      body,html {
        margin: 0;
        padding: 0;
      }
      td {
        padding: 0;
      }
    </style>
  </body>
</html>
